
[
	{oauth2_s2s, 
		[
          {host, <<"https://oauth2.googleapis.com/token">>},
          {iss, <<"homegraph-v2@gaction-chillaxcare-58037.iam.gserviceaccount.com">>},
          {scope, <<"https://www.googleapis.com/auth/homegraph">>},
          {aud, <<"https://oauth2.googleapis.com/token">>},
          {grant_type,<<"urn:ietf:params:oauth:grant-type:jwt-bearer">>}
		]
	}
].

